a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 0 20px 0 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Aleo', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  border-style: dotted none none;
  border-width: 8px;
  color: #EAF6F6;
  margin: 80px auto 80px auto;
  width: 5%;
}

p{
  line-height: 2;
}

/****************CLASS TAG******************/
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin: 0;
}

.butn {
  background: #5f92a3;
  background-image: -webkit-linear-gradient(top, #5f92a3, #73d4d4);
  background-image: -moz-linear-gradient(top, #5f92a3, #73d4d4);
  background-image: -ms-linear-gradient(top, #5f92a3, #73d4d4);
  background-image: -o-linear-gradient(top, #5f92a3, #73d4d4);
  background-image: linear-gradient(to bottom, #5f92a3, #73d4d4);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.copyright-footer{
  color: #EAF6F6;
}

.footer-link{
color: #11999E;
}

.joanne-profile-img {
  width: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pharmacist-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.profile{
  width: 25%;
  margin: auto;
}

.wine-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.top-container {
  background-color: aliceblue;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  margin: 100px 0 100px 0;
}

.pharm {
  text-decoration: underline;
}

.copyright-footer{
  font-size: 0.75rem;
  padding: 20px 0 10px;
}

.contact-me-message{
  width: 40%;
  margin: 40px auto 60px;
}
